.dashboard {
padding-top: 80px;
font-family: Robotica;

}

.dashboard p {
  font-size: 12px;
}

.dashboard a {
  text-decoration: none;
  color: #333333;
}

.dashboard a:hover {
  text-decoration: none;
   color: #0d0d0d;
}

.heading {
  background-color: #f4f4f4;
}

.dashboard .row {
  padding: 4px;

}

.dashboard h2 {
  padding-bottom: 10px;
}

.color {

  margin-top: 4%;
  background-color: #f7f4f4;
  margin-left: 6%;
  margin-right: 6%;

}
.dog-booking {

}


.confirmed {
  color: green;
}

.complete {
  color: blue;
}

.cancelled {
  color:red;
}
