.dashboard {
padding-top: 20px;

}

.dashboard p {
  font-size: 12px;
}

.dashboard a {
  text-decoration: none;
  color: #616668;
}

.dashboard a:hover {
  text-decoration: none;
  color: #62D2A2
}

.heading {
  background-color: #f4f4f4;
}

.dashboard .row {

}

.dashboard h2 {
  padding-bottom: 10px;
}

.dog-booking {

}


.confirmed {
  color: green;
}

.complete {
  color: blue;
}

.cancelled {
  color:red;
}
