.dog-show{
  margin-top: 50px;

}

.npl{
  padding-left:0px !important;
}
.spl{
  padding-left:5px !important;
}
.pad-top{
  padding-top:20px;
}
.description1{
  font-size: 18px;
  padding-right:160px;
}
