

.center {
  text-align: center;
  margin-top: 50px;
}

.container-booking {
display: flex;
// padding-top: 100px;
align-items: center;
    border-width: 1px;
    justify-content: center;
    background-color: #f4f4f4;
  height:  70vh;
  margin-top: 5vh;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 5px;

}

.container-booking a {
color: #62D2A2;
}

.container-booking a:hover {
text-decoration:none;
}

.text-background {
  background-color: #f4f4f4;
  height: 400px;
  width: 900px;
  padding-top: 50px;
  padding-right: 5%;
  padding-left:5%;
  // position: fixed;


}



.show-text {
position: relative;
  text-align: left;
  font-family: "Roboto";
  padding-left: 25px;
  padding-right: 25px;
}

.show-text h1 {

  font-size: 36px;
  font-style: bold;
}

.show-text h2 {

  font-size: 24px;

}

.show-text p {
  font-size: 20px;
}


.pending {
  color: #f77c11;
}

.booking-image {
  padding-right: 2%;
}
