<div class="footer">
  <div class="footer-links">
    <h3>Check us out on</h3>
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook-square"></i></a>
    <a href="#"><i class="fab fa-twitter-square"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>

