<ul>
  <li>
    <a href="/about">About us</a>
  </li>
  <li>
    <a href="/contact">Get in Touch</a>
  </li>
  <li>
    <a href="#">Meh</a>
  </li>
</ul>

<!-- right side on nav -->
<ul>
  <li>
    <a href="https://www.facebook.com">sar</a>
  </li>
  <li>
    <a href="https://www.facebook.com">meh</a>
  </li>
  <li>
    <a href="https://www.facebook.com">meh</a>
  </li>

</ul>
