/* app/assets/stylesheets/components/_banner.scss */
.home-banner {
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.small-banner{
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  width: 100%;
  color: white;
  text-align: center;
  padding-top: 200px;
  margin-top: 50px;
  h1{
    font-size:50px !important;
  }
  .btn-primary{
    size:300px;
  }
}
.infront-banner{
  width:600px;
  height:400px;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center;
  position:center;
  margin-top:0;
}
.banner-text {
  margin-bottom: 30px;
}
