.cards {
  display: grid;
  /*color:white;*/
  grid-template-columns: auto auto auto;
}
.card{
  height:300px;
  position: relative;
  display: block;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  /*background-color: grey;*/
  transition: all 0.3s ease;
  width:300px;

}
.card:hover{
  /*padding-top: 25px;*/
  /*padding-bottom: 25px;*/
  bottom: 5px;
  /*transition: all 0.3s ease;*/
  opacity: 0.9;
}
.cards .card{
  flex: 1 1 auto;
  margin: 10px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
}
.card-body{
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 250px;
  color: white;
  /*background-size: cover;*/

  /*color: white;*/
  /*position: relative;*/

}
.card-title{
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: lighter;
  opacity: 0.9;

}
.card-description{
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding-bottom: 30px;
  font-size:24px;
}
.card-footer{
  position: absolute;
  height: 50px;
  bottom: 0;
  left:0;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 300px;
}
.card-buttons{
  position: absolute;
  right: 25px;
  bottom: 10px;
  padding:10px;
}
.card-link{
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
