.hiw-title {
  margin-bottom: 30px;
  font-family: 'Lato', sans-serif;
  font-style: bold;
  margin-bottom: 55px;
}

.hiw-image {
  margin-bottom: 10px;
}

.hiw-card-top {
  // font-family: "Lato Bold", sans-serif;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.4;
  font-family: 'Lato', sans-serif;
}

.hiw-card-description {
  font-size: 18px;
  line-height: 1.4;
  font-family: 'Lato', sans-serif;
  color: gray;
}
.container{
margin-top: 49px;
}
